@import "~bootstrap/scss/bootstrap";
@import "./_reset.scss";
@import "./_global.scss";
body {
  background: $dark-navy;
}
#app,
body {
  height: 100vh;
  font-size: 1.2rem;
  color: $silver;

  font-family: "Outfit", sans-serif;
}
* {
  @media (max-width: 300px) {
    & {
      font-size: 0.9rem;
    }
    * svg {
      width: 15px;
      height: 15px;
    }
  }
}
#app,
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 500px;
  min-width: 500px;
  width: 500px;

  @media (max-width: 520px) {
    max-width: 500px;
    min-width: 100%;
    width: 100%;
  }
}
.logo {
  height: 34px;
  @media (max-width: 300px) {
    & {
      width: 50px;
    }
  }
  @media (max-width: 270px) {
    & {
      width: 30px;
    }
  }
}

.game-choice {
  text-align: center;

  h5 {
    font-size: 1.1rem;
    font-weight: bold;
  }

  &__container {
    background: $dark-navy;
    padding: 13px 8px;
    margin: 20px 0px 15px 0px;

    border-radius: $border-radius-1;

    display: flex;
  }

  &__item {
    cursor: pointer;

    flex: 1;

    text-align: center;

    padding: 10px 5px;

    border-radius: $border-radius-1;

    svg,
    img {
      max-width: 30px;
      max-height: 30px;
      fill: $silver;
    }

    &--selected {
      background: $silver;
      svg {
        fill: $semi-dark-navy;
      }
    }
    &:hover:not(&--selected) {
      background: $semi-dark-navy;
    }
  }

  p {
    font-size: 0.85rem;
    opacity: 0.4;
    font-weight: bold;
  }
}

.game-play {
  width: 100%;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    > * {
      flex: 1;
    }
  }
  &__header-turn,
  &__header-restart {
    padding: 10px 15px;
    height: 60px;
    max-height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: $border-radius-1;

    font-weight: bold;
    text-align: center;

    @media (max-width: 300px) {
      & {
        padding: 10px;
        height: 50px;
      }
    }
  }
  &__header-restart {
    svg {
      width: 25px;
      height: 25px;
    }
    @media (max-width: 300px) {
      svg {
        width: 15px;
        height: 15px;
      }
    }
  }
  &__header-turn {
    background: $semi-dark-navy;
    box-shadow: inset 0 -0.2rem 0 #111c22;

    svg {
      fill: $silver;
      width: 20px;
    }
  }
  &__header-restart {
    width: 70px;

    background: $silver;
    box-shadow: inset 0 -0.2rem 0 rgba(0, 0, 0, 0.4);

    cursor: pointer;
  }

  &__body,
  &__header,
  &__footer {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  &__body {
    min-height: 500px;
    grid-template-rows: repeat(3, 1fr);
    > * {
      cursor: pointer;
    }

    @media (max-width: 500px) {
      & {
        min-height: 300px;
      }
    }
    @media (max-width: 300px) {
      & {
        min-height: 250px;
      }
    }
  }
  &__footer span {
    font-size: 1rem;
    opacity: 0.85;
  }
  &__footer h3 {
    font-weight: bold;
  }
}
